/*
Add styles or override variables from the theme here.
*/
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
$headings-font-family:Nunito;
$primary:#07689F;
$secondary:#C9D6DF;
$success:#11D3BC;
$danger:#F67280;
$info:#A2D5F2;
$warning:#FF7E67;
$light:#FAFAFA;
$dark:#4e4e4e;
