---
title: "CDR Plus: A set of extensions for the emerging Consumer Data Right"
linkTitle: "CDR Plus"
---

{{< blocks/cover title="Welcome to the CDR Plus Initiative!" image_anchor="top" height="full">}}
<div class="mx-auto">
	<p class="lead mt-5">An initiative to extend and expand the Consumer Data Right <em>beyond the mandate</em></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The CDR Plus (CDR+) initiative is a community project to introduce enhancements and new features into the Consumer Data Right ecosystem.

While the <a href="https://consumerdatastandards.gov.au/">Data Standards Body</a> develops the binding <a href="https://consumerdatastandardsaustralia.github.io/standards">Standards</a> for the <a href="https://cdr.gov.au">Consumer Data Right</a> it is, by virtue of being a legislatively binding technical implementation, relatively slow moving and constrained by the Rules setting process. This is also combined with what all participants are able (and willing) to achieve within their individual technical environments.

CDR Plus aims to provide an incubator for feature enhancements beyond the mandated obligations enabling the growth of the Consumer Data Right through open industry collaboration.

{{% /blocks/lead %}}

{{% blocks/section color="dark" type="row" %}}

<div class="col-lg-2 mb-5 mb-lg-0">&nbsp;</div>
<div class="col-lg-4 mb-5 mb-lg-0">
	<div class="mb-4 h1">
		<i class="fa fa-check"></i>
	</div>
	<h4 class="h3">What We Are</h4>
	<div class="mb-0">
		<ul>
			<li>Focused on making the CDR <strong>better</strong></li>
			<li>Implementor first focused</li>
		</ul>
	</div>
</div>
<div class="col-lg-1 mb-5 mb-lg-0">&nbsp;</div>
<div class="col-lg-4 mb-5 mb-lg-0">
	<div class="mb-4 h1">
		<i class="fa fa-times"></i>
	</div>
	<h4 class="h3">What We Aren't</h4>
	<div class="mb-0">
		<ul>
			<li>Endorsed by <strong>any</strong> government body</li>
			<li>Legally binding in <strong>any way</strong></li>
			<li>Intended as a replacement to the <a href="https://consumerdatastandardsaustralia.github.io/standards">Data Standards</a></li>
			<li>A CDR Support service, please use the <a href="https://cdr-support.zendesk.com">Zendesk</a></li>
		</ul>
	</div>
</div>

{{% /blocks/section %}}
